body{
  background-color: beige;
}
.text-center{
  text-align: center;
}
.form-control{
  display: block;
  font-size: 16px;
  padding: 5px 10px;
  width: fit-content;
  margin: 5px 10px;
  margin-bottom: 20px;
}
.btn{
  background-color: blueviolet;
  border: none;
  border-radius: 10px;
  min-width: 150px;
  padding: 10px 20px;
  text-align: center;
  color: white;
  font-size: 20px;
}