.signup-form{
    width:fit-content;
    /* height: 600px; */
    background-color: white;
    margin: 30px auto;
    padding: 15px 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px grey;
}
.signup-btn{
    display: block;
    margin: 10px auto;
    margin-top: 15px;
}